/* Mobile */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu-container {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.left-panel {
  background-color: #2d2d2d;
  padding: 2rem 1.25rem;
}

.right-panel {
  background-color: white;
  padding: 2rem 1.25rem;
}

.header {
  margin-bottom: 18px;
  color: var(--text);
  font-size: 1rem;
}

.header strong {
  font-weight: 700;
}

.divider {
  margin-bottom: 22px;
  height: 1px;
  background-color: var(--primary);
}

.title {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .left-panel,
  .right-panel {
    flex: 1;
    padding: 2rem;
  }

  .left-panel {
    flex: 5;
    padding: 3rem 3rem 0 3rem;
  }

  .right-panel {
    flex: 4;
    padding: 3rem 3rem 0 3rem;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .header {
    font-size: 18px;
  }
}

/* Desktop */
@media (min-width: 1024px) {

}